<!DOCTYPE html>
<html>
    <head>
        <title>blogpost</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
    
      </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">WebSiteName</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/blogs/new">Add new</a></li>
                <li><a href="edit">Not working</a></li>
           
              </ul>
            </div>
          </nav>

